.debugging{
  color: orange !important;
  display: none;
}

.debugging > button{
  color: orange !important;
  display: none;
}


#reload_basin_map_btn {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.4em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgb(255 255 255 / 25%);
  text-align: center;
  /* transition: all 0.2s; */
  border-color: grey !important;
  color: black;
  background-color: white;
}

#myProgress {
  width: 100%;
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px;
  margin-top: 10px;
  max-width: 1360px;
}

#myBar {
  width: 0%;
  height: 25px;
  background-color: #04AA6D;
  transition: width 0.4s ease;
}

#cmd_out {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  height: 50vh;
  max-width: 1360px;
}

#api_complete_cmd_out {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  height: 200px;
  max-width: 1360px;
}

#update_epie_cmd_out {
  background-color: #f1f1f1;
  padding: 10px;
  margin-top: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow-y: scroll;
  height: 300px;
  max-width: 1360px;
}

#map { 
  height: 65vh; 
  max-width: 1360px;
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  max-width: 1380px;
}

#pnec_map { 
  height: 65vh; 
  max-width: 1360px;
  background-color: #f1f1f1;
  margin-top: 10px;
  margin-bottom: 10px;
}

#mapBasin { 
  height: 55vh; 
  max-width: 1360px;
}

body {
  font-family: Arial;
  overflow-x: hidden;
}

h4 {
  font-size: 1.25rem !important;
}

hr {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.664) !important;
  max-width: 1360px;
}

p{
  max-width: 1360px;
}


#selected_basins_list{
  padding-left: 0px;
  margin-bottom: 0px;
}

#selected_basins_list > li {
  display: inline-block;
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.4em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}

#basinhoveridbox{
  display: inline-block;
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.4em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}

th {
  cursor: zoom-in;
}


#avg_per_capita_cons_table{
  display: none;
}

#selected_basins_list > li:hover {
  color: #ffffff;
  background-color: rgb(100,100,100);
}

/* Style the tab */
.tab {
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  /* border: 1px solid #ccc; */
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tab button.locked {
  opacity: 0.5;
}

.tab button.locked:hover {
  background-color: #f1f1f1;
}

.tabbuffer {
  width: 100%;
  height: 60px;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 12px 12px;
  border: 0px solid #ccc;
  border-top: none;
}

table input[type="text"] {
  /* place any styling here */
}

table input[type="text"]:read-only {
  border: none;
}

#save {display: none;}
#save2 {display: none;}
#save3 {display: none;}
#save4 {display: none;}
#save5 {display: none;}
#consHeaderHoverInfo {display: none;}


.action_button {
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 0.4em 0.3em 0;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  /* transition: all 0.2s; */
  border-color: grey !important;
  color: black;
  background-color: white;
}

button {
  background-color: white;
}

.action_button:hover {
  color: #ffffff;
  background-color: rgb(100,100,100);
}

#gen_cons_table_btn:active  {
  background-color:#b83734 !important;
  background:#b83734 !important;
  color: #ffffff;
  text-shadow: unset;
  cursor: wait;
  opacity: 1;
}


#gen_cons_table_btn:active:after {
  content: ': processing, please wait...';
}

#simpletreat40_btn:active  {
  background-color:#b83734 !important;
  color: #ffffff;
  text-shadow: unset;
  cursor: wait;
  opacity: 1;
}


#simpletreat40_btn:active:after {
  content: ': processing, please wait...';
}

#runAPIcompletebtn:active  {
  background-color:#b83734 !important;
  color: #ffffff;
  text-shadow: unset;
  cursor: wait;
  opacity: 1;
}


#runAPIcompletebtn:active:after {
  content: ': processing, please wait...';
}




/* ePiE run button */
.process_active  {
  background-color:#b83734 !important;
  color: #ffffff;
  text-shadow: unset;
  cursor: wait;
  opacity: 1;
}
.process_active:after {
  content: ': processing, please wait...';
}


/* this is the flow drop down selection menu */
#flow{
  display: inline-block;
  padding: 0.4em 0.3em 0.4em 0.8em;
  margin: 1px 0.4em 0.3em 5px;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}

#cons_data_type{
  display: inline-block;
  padding: 0.4em 0.3em 0.4em 0.8em;
  margin: 1px 0.4em 0.3em 5px;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}

#div_container_pop_year{
  display: none;
}

#pop_year{
  display: inline-block;
  padding: 0.4em 0.3em 0.4em 0.8em;
  margin: 1px 0.4em 0.3em 5px;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}


#flow:hover {
  color: #ffffff;
  background-color: rgb(100,100,100);
}
#cons_data_type:hover {
  color: #ffffff;
  background-color: rgb(100,100,100);
}

#API_map_selection{
  display: inline-block;
  display: inline-block;
  padding: 0.4em 0.3em 0.4em 0.8em;
  margin: 1px 0.4em 0.3em 5px;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}

#API_map_selection:hover {
  color: #ffffff;
  background-color: rgb(100,100,100);
}

.API_table_form{
  max-width: 1360px; 
  overflow: hidden;
  border-color: grey !important;
  border-radius: 0.3em;
  border-width: 2px;
  border-style: outset;
  margin: 10px 0.4em 0.3em 0;
  padding: 0.3em 1em;
  padding-bottom: 0.8em;
}

#form_table2_chem {max-width: 930px;}
#form_table2alt_chem {max-width: 930px;}

.firstSpan {
  color: rgb(0, 0, 0)
}

.firstSpan > p {
  font-size: 0.9rem !important;
  font-weight: 400 !important;
  margin-bottom: 0px !important;
}

/* 
#API_table > tbody > tr {
  border-bottom: 1px solid #ccc;
}

#API_table2 > tbody > tr {
  border-bottom: 1px solid #ccc;
}

#API_table2alt > tbody > tr {
  border-bottom: 1px solid #ccc;
} 
*/

.firstSpan .secondSpan {
  visibility: hidden;
  width: 170px;
  background-color: gray;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  position: absolute;
  z-index: 1;
  margin-top: 40px;
  margin-left: -20px;
  font-size: 15px;
}

#API_table2 > tbody > tr .secondSpan {
  margin-left: -20px;
  margin-top: 40px;
}

#API_table_basinStats > tbody > tr .secondSpan {
  margin-left: -20px;
  margin-top: 40px;
}


/* #API_table2 > tbody > tr:nth-child(1) > th:nth-child(6) > span > span { margin-left: -100px;} 
#API_table2 > tbody > tr:nth-child(1) > th:nth-child(7) > span > span { margin-left: -100px;}
#API_table2 > tbody > tr:nth-child(1) > th:nth-child(8) > span > span { margin-left: -100px;}
#API_table2 > tbody > tr:nth-child(1) > th:nth-child(9) > span > span { margin-left: -100px;}
#API_table2 > tbody > tr:nth-child(1) > th:nth-child(10) > span > span { margin-left: -120px;} */
 
 
.firstSpan:hover .secondSpan {
  visibility: visible;
}

.tableHeader:hover .firstSpan .secondSpan {
  visibility: visible;
}


.tableHeader2:hover .firstSpan .secondSpan {
  visibility: visible;
}

.hover_unit{
  color:orange;
  margin-bottom: 1px;
}

.collapsible_content {
  padding: 18px 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
  max-width: 1360px;
  font-size: 0.9rem;
}

#prnt_slct_flow {
  display: inline-block;
  display: inline-block;
  padding: 0.3em 1em;
  margin: -0.2em 0.4em 0.3em 0.5em;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(255, 255, 255, 0.253);
  text-align: center;
  transition: all 0.2s;
  border-width: 2px;
  border-style: outset;
  border-color: grey !important;
  border-image: initial;
  color: black;
  background-color: rgb(255, 255, 255);
}
#progress_gen_table_cons {
  /* display: inline-block; */
  display: none;
  padding: 0.3em 1em;
  margin: 0.2em 0.4em 0.3em 0em;
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  text-shadow: 0 0.04em 0.04em rgba(240, 0, 0, 0.253);
  text-align: center;
  transition: all 0.2s;
  border-width: 2px;
  border-style: outset;
  border-color: red !important;
  border-image: initial;
  color: red;
  background-color: rgb(255, 255, 255);
}

#outputmaplegend{
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 0.3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  transition: all 0.2s;
  border-width: 2px;
  padding: 0.3em 1em;
}

#legendColorBox{
  width: 10px;
  height: 10px;
  border-radius: 5px;
  display: inline-block;
  margin-right: 5px;
}
